body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculadora {
    background-color: #4197df;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.input-section label,
.input-section input {
    display: block;
    margin: 10px 0;
    text-align: center;
    
}


.operations button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

.operations button:hover {
    background-color: #0056b3;
}

.result p {
    margin-top: 20px;
    font-size: 18px;
}